- var menu = {'#about':'enchanté','#work':'projets','#contact':'contact'}
- var works = { meije: {name: 'Meije', url: 'http://meije-ga.me', number:'one'}, bambaataa: {name: 'Looking for Bambaataa', url: '', number: 'two'}, Hover: {name: 'Hover Animation', url: '', number:'three'}, Menu: {name: 'Material Design Menu', url: '', number: 'four'}, Submit: {name: 'Submit Button', url: '', number:'five'}, Quote: {name: 'Quote Animation Inspiration', url: '', number:'six'} }

doctype html
html
	head(lang="fr")
		title Valentin Galmand
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
		link(rel="stylesheet", href="css/reset.css", type="text/css")
		link(rel="stylesheet", href="css/bootstrap.css", type="text/css")
		link(rel="stylesheet", href="css/font.css", type="text/css")
		link(rel="stylesheet", href="css/app.css", type="text/css")
	body
		nav
			.container
				.col-md-6
					p.name Valentin Galmand
				.col-md-6
					ul.menu
					- each val, index in menu
						li.menu--items.dib
							a.menu--link(href="#{index}") #{val}
		header
		section#about
			.container
				.row
					.about--block
						.col-md-2
							h2 Enchanté !
						p.col-md-10 Je suis Valentin Galmand, raise and born à Bordeaux comme on dit de l'autre côté de l'Océan Atlantique. Actuellement en deuxième année en 
							a(href="http://mmibordeaux.com", target='_blank')).link DUT MMI
							| , j'adore essayer, explorer et apprendre de nouvelles choses en particulier sur l'animation d'interface et la magie du HTML mêlée au CSS. Passionné par le graphisme print comme web et au développement front-end, toujours à la recherche de nouvelles expériences. Et si on ajoute du vélo, beaucoup de dessin et d'handwritting saupoudré de trois expositions sans oublier un peu (beaucoup) de séries et de films. Dix minutes au four et me voilà.
							a(href="valentingalmand_cv.pdf", target='_blank')).button télécharger mon cv
					.about--block
						.col-md-2
							h2 Compétences
						.col-md-2.col-xs-5
							p.cat Développement
						.col-md-3.col-xs-5
							ul
								li
									p HTML5 / Jade
								li
									p CSS3 / SASS
								li
									p Wordpress
								li
									p PHP / jQuery
						.col-md-2.col-xs-5
							p.cat Design
						.col-md-3.col-xs-5
							ul
								li
									p Webdesign
								li
									p Identité Visuelle
								li
									p UI / UX Design
								li
									p Suite Adobe
					.about--block
						.col-md-2
							h2 Récompenses
						p.col-md-10 Plus tard, je mettrai mes awards ici.
					.about--block
						.col-md-2
							h2 Et donc ?
						p.col-md-10 On peut me retrouver sur 
							a(href="https://www.linkedin.com/in/valentingalmand", target='_blank')).link LinkedIn
							| , 
							a(href="https://twitter.com/vgalmand", target='_blank')).link Twitter
							| , 
							a(href="https://dribbble.com/Valentinvalentin", target='_blank')).link Dribbble
							| , 
							a(href="http://codepen.io/asstor_/", target='_blank')).link Codepen
							|  et 
							a(href="http://instagram.com/valentinvalentin_/", target='_blank')).link Instagram
							| .
		section#work
			.container
				.row
				- each work in works
					.col-sm-6.col-xs-12
						.element
							div(class="element--" + work.number).background
							h3.title #{work.name}
							a(href="#{work.url}", target='_blank')).more En voir plus
		#transition
		section#contact
			p.col-md-4 Appelle moi : <br>
				a(href="tel:0649233816").link 06 49 23 38 16
			p.col-md-4 Envoie moi un pigeon : <br>
				a(href="http://tinyurl.com/nrvs938", target='_blank')).link 4 rue du Professeur Esclangon 33600, Pessac
			p.col-md-4 Écris moi : <br>
				a(href="mailto:v.galmand@gmail.com").link v.galmand@gmail.com
			.col-md-12
				ul
					li.dib
						a(href='https://www.linkedin.com/in/valentingalmand', target='_blank').icon-linkedin
					li.dib
						a(href='https://twitter.com/vgalmand', target='_blank').icon-twitter
					li.dib
						a(href='https://plus.google.com/u/0/+ValentinGalmand/posts', target='_blank').icon-gplus
					li.dib
						a(href='https://github.com/valentingalmand', target='_blank').icon-github
					li.dib
						a(href='http://codepen.io/asstor_/', target='_blank').icon-codepen
					li.dib
						a(href='http://instagram.com/valentinvalentin_/', target='_blank').icon-instagram
					li.dib
						a(href='https://dribbble.com/Valentinvalentin', target='_blank').icon-dribbble
	script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
	script(type="text/javascript", src="js/main.js")
